/* offers1 */

.card-style3{
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.1) !important;
  border-radius: 20px 20px 0px 0px !important;
}
.text-style{
  font-weight: bold;
  font-size: 16px;
  }
  
  .text-lightt{
    color: #aaa2a2 !important;
    font-size: 14px;
    font-weight: normal;
  }
  
  .colorss{
    color: rgb(75, 127, 177) !important;
  }
  
  

  .page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
  }
  
  .page-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
  }

  .buy{
    color:rgb(0, 110, 255);
   
  }

  .linee{
    width: 58px !important;
    height: 5px !important;
    background-color: rgb(0, 110, 255) !important;
    border: 5px !important;
    margin-top:10px;
    margin-left:15px;
  }

  /* Footer */
  .footer{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
    padding: 10px;
  }

  /* envelope */
  .env{
    position: relative;
    margin-top: 5em;
  }

  .whitee{
    position: absolute;
     background: orchid;
  }

