/* offers1 */

.card-style3{
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.1) !important;
  border-radius: 20px 20px 0px 0px !important;
}
.text-style{
  font-weight: bold;
  font-size: 16px;
  }
  
  .text-lightt{
    color: #aaa2a2 !important;
    font-size: 14px;
    font-weight: normal;
  }
  
  .colorss{
    color: rgb(75, 127, 177) !important;
  }
  
  

  .page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
  }
  
  .page-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
  }

  .buy{
    color:rgb(0, 110, 255);
   
  }

  .linee{
    width: 58px !important;
    height: 5px !important;
    background-color: rgb(0, 110, 255) !important;
    border: 5px !important;
    margin-top:10px;
    margin-left:15px;
  }

  /* Footer */
  .footer{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
    padding: 10px;
  }

  /* envelope */
  .env{
    position: relative;
    
  }

  .card-style4{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(14, 13, 13, 0.438) !important;
    border-radius: 0px 0px 20px 20px !important;
    width: 345px !important;
    left: 30px;
    height: 115px;
  }

  .card-style5{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(14, 13, 13, 0.438) !important;
    border-radius: 13px 13px 13px 13px !important;
    width: 345px !important;
    left: 30px;
    
  }


  .card-style6{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(14, 13, 13, 0.438) !important;
    border-radius: 13px 13px 13px 13px !important;
    width: 345px !important;
    left: 30px;
    height: 220px;
  }

  /* dropdown */
.slide-enter {
  transform: translateY(-50px);
  opacity: 0;
  position: absolute;
}
.slide-enter.slide-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 800ms;
}
.slide-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-exit.slide-exit-active {
  transform: translateY(-200px);
  opacity: 0;
  transition: all 500ms;
}



.btn-style1{
  background: #FFED62 !important;
  border: 0px !important;
  font-size: 15px !important;
  color: black !important;
  width: 190px;
}

.btn-style2{
  border: 0px !important;
  background: #FFE100 !important;
  font-size: 23px !important;
  font-weight: bolder !important;
  color: black !important;
  height: 60px;
}

.btn-style3{
  border: 0px !important;
  background: #6ee039 !important;
  font-size: 23px !important;
  font-weight: bolder !important;
  color: black !important;
  width: 300px;
}


/* dates */
.date-selection{
  box-shadow: 0px 5px 20px rgba(14, 13, 13, 0.438) !important;
  background: #FEEC61 !important;
  color: black !important;
  border: 0px !important;
  border-radius: 13px !important;
  height: 60px !important;
  width: 100px !important;
  margin-left: 0px;
  margin: 5px;
}

.bg-img{
  
  background: url(/img/bg1.svg) no-repeat;
  background-size: contain;
  height: 500px;
}



